@value space-narrower as narrower, font-small as small,  weight-semibold as semibold from 'styles/preset/size.css';
@value colorWhite from 'styles/preset/color.css';

.box {
  display: flex;
}

.label {
  font-size: 17px;
  margin-left: 3px;
  padding: 0px 15px;
  color: colorWhite;
  font-weight: semibold;
}

.periods {
  display: flex;
  flex-direction: column;
  font-size: small;
}
