@value colors: 'styles/preset/color.css';
@value size: 'styles/preset/size.css';
@value colorWhite, colorLightGray, tagColorRed, tagColorOrenge, tagColorYellow, tagColorGreen, tagColorBlue, tagColorPurple, tagColorPink from colors;
@value weight-regular from size;

.tag {
  display: inline-block;
  font-size: 1em;
  font-weight: weight-regular;
  align-items: center;
  background-color: colorLightGray;
  padding: 0.3em 0.8em;
  border-radius: 3em;
  transition: width 300ms ease;
}

.tag + .tag {
  margin-left: 0.5em;
}

/* tag color */
.red {
  background-color: tagColorRed;
}

.orenge {
  background-color: tagColorOrenge;
}

.yellow {
  background-color: tagColorYellow;
}

.blue {
  background-color: tagColorBlue;
}

.green {
  background-color: tagColorGreen;
}

.pink {
  background-color: tagColorPink;
}

.purple {
  background-color: tagColorPurple;
}

.tag:hover span[data-hover='show'] {
  width: 0.8em;
  opacity: 1;
}

.name {
  vertical-align: text-bottom;
}
