/* TaskContainer와 CalendarContainer에서 임시 스타일링으로 사용 */
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding: 1em;
  font-size: 1.5em;
}

.content {
  height: 100%;
  overflow-y: auto;
}

.footer {
  margin: 1em;
}
