.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding: 1em;
  font-size: 1.5em;
}

.content {
  height: 100%;
}

.footer {
  margin: 1em;
}
