@value colors: './common/color.css';
@value size: './common/size.css';
@value effect: './common/effect.css';
@value colorWhite,colorLightGray,colorGray, colorDarkGray, colorLightSkyblue, colorSkyblue, colorPurple,colorDarkPurple from colors;
@value animation-duration-fast as fast from effect;
@value box-shadow, button-radius, border-radius, weight-regular, weight-regular, weight-bold, weight-semibold, font-regular,space-narrow, space-narrower,space-regular from size;

.button {
  font-size: 1em;
  padding: 0.5em 1em;
  border-radius: button-radius;
  transition: all fast ease-in;
  background-color: colorPurple;
}

.button:hover {
  background-color: colorDarkPurple;
  transform: scale(1.05);
}

/* dumy button */
.calendar {
  font-size: 1.5em;
}

/* 메인 페이지 */
.loginbutton {
  padding: 1em;
  color: colorWhite;
}

/* 회원가입 페이지 버튼 */
.tutorial,
.tutorial__cancel {
  padding: 1em 2em;
  margin-right: 3em;
  color: colorWhite;
  font-weight: weight-semibold;
}

.tutorial__cancel {
  background-color: colorLightGray;
}

.tutorial__cancel:hover {
  background-color: colorGray;
}

.image_add {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.8em;
  line-height: 0.5;
  padding: 1em;
  border-radius: 50%;
  color: colorWhite;
}

/* navbar button */
.profile {
  background-color: transparent;
  padding: 5px;
  border-radius: 50%;
}

.sideMenu:hover {
  background-color: colorDarkPurple;
}

.sideMenu,
.setting {
  background-color: transparent;
  color: colorWhite;
  border-radius: 0;
}

.profile:hover,
.sideMenu:hover,
.setting:hover {
  transform: none;
}

/* profile modal button */
.profileModal {
  color: colorWhite;
  margin: 1em;
  margin-bottom: 2em;
  width: 120px;
  height: 40px;
  font-weight: weight-regular;
  box-shadow: box-shadow;
}

.profileModal:hover {
  background-color: colorDarkPurple;
}


.profileModalEditButton {
  padding: 5px;
  font-size: 20px;
  background-color: transparent;
}

.profileModalEditButton:hover {
  background-color: transparent;
}

/* checkbox button */
.checkbox {
  position: relative;
  display: flex;
  width: 1em;
  height: 1em;
  border: 1px solid colorDarkGray;
  border-radius: 50%;
  margin-right: space-narrower;
  margin-left: space-narrower;
  bottom: -0.1em;
  padding: 0;
  background: none;
  color: red;
}

/* 태그 */
/* Created by 오영롱(youngrongoh) on 2021/04/23 */
.tag,
.tagDelete {
  margin: 0;
  padding: 0;
  border: none;
  transition: none;
  background-color: transparent;
  box-shadow: none;
}

.tag + .tag {
  margin-left: 0.5em;
}

.tagDelete {
  display: flex;
  line-height: 1;
}

.checkbox:hover,
.tag:hover,
.tagDelete:hover {
  transform: none;
  background-color: transparent;
}

/* 닫기버튼 */
.tagClose {
  color: colorWhite;
}

.closeProfile {
  padding: 0.25em 0.3em 0.1em 0.3em;
  position: absolute;
  top: 8px;
  right: 11px;
}

.tagClose,
.close {
  padding: 0.25em 0.2em 0.1em 0.3em;
  line-height: 1em;
}

.tagClose,
.close,
.closeProfile {
  background-color: transparent;
  border-radius: 50%;
  font-size: 1.2em;
}

.close:hover,
.tagClose:hover,
.closeProfile:hover {
  background-color: colorLightGray;
  color: colorDarkGray;
  transform: none;
}

/* 투두 리스트-체크박스 */
.checkbox {
  position: relative;
  display: flex;
  width: 1em;
  height: 1em;
  border: 1px solid colorDarkGray;
  border-radius: 50%;
  margin-right: space-narrower;
  margin-left: space-narrower;
  bottom: -0.1em;
  padding: 0;
  background: none;
  color: red;
}

/* 투두 리스트-삭제버튼 */
.todoDeleteButton {
  background-color: transparent;
  color: colorDarkGray;
  padding: 0;
  margin-left: space-narrow;
  margin-right: 1em;
}

.todoDeleteButton:hover {
  background-color: transparent;
  transform: scale(1.2);
}

/* 투두리스트-등록 폼 */
.QuickAddForm {
  color: colorWhite;
  margin-right: 0.5em;
}

.QuickAddForm,
.QuickAddForm__icon {
  height: 100%;
  border-radius: 50%;
  padding: 0.8em 0.6em;
  font-weight: bold;
  white-space: nowrap;
  background-color: transparent;
}

.QuickAddForm:hover,
.QuickAddForm__icon:hover {
  transform: none;
  color: colorWhite;
  background-color: Gray;
}

.QuickAddForm__icon:hover {
  background-color: transparent;
}

.QuickAddForm__icon {
  padding: 0.8em;
  line-height: 0.8;
  background-color: transparent;
}

/* 회원가입 페이지 버튼 */
.tutorial,
.tutorial__cancel {
  padding: 1em 3em;
  margin-right: 1em;
}

.tutorial__cancel {
  background-color: colorLightGray;
}

.tutorial__image {
  position: absolute;
  bottom: 0;
  right: 55px;
  font-size: 1em;
  line-height: 0.5;
  padding: 1em;
  border-radius: 50%;
}

/* taskform modal button */
.taskForm__cancel {
  margin-right: 0.1em;
}

.taskForm__cancel,
.taskForm__done {
  position: relative;
  right: 10px;
  margin: 0 3px;
  padding: 0.3em 0.5em;
  background-color: transparent;
  color: colorWhite;
  font-size: 16px;
  border: 0.5px solid rgb(82, 82, 82);
  margin: 6px 0 0 0;
}

.taskForm__cancel:hover,
.taskForm__done:hover {
  background-color: transparent;
  color: colorWhite;
  transform: scale(1.1);
}

.priorityInput {
  background-color: transparent;
  padding: 0;
}

.priorityInput:hover {
  background-color: transparent;
  transform: scale(1.2);
}

.calendar {
  font-size: 15px;
  position: relative;
  top: -5px;
  background-color: transparent;
  transition-property: none;
  color: colorPurple;
}

.calendar:hover {
  font-size: 15px;
  background-color: transparent;
  transform: scale(1.1);
}

.calendar svg {
  fill: rgba(255, 255, 255, 0.856);
}

/* quick button */
.quickButton {
  background-color: transparent;
  padding: 0;
  font-size: 2.5em;
}

.quickButton:hover {
  background-color: transparent;
}

/* calendar button */
.arrowbutton {
  background-color: transparent;
  margin-top: 15em;
  margin-right: space-regular;
  margin-left: space-narrower;
  width: 30px;
  height: 30px;
  opacity: 0.1;
}

.arrowbutton:hover {
  background-color: transparent;
  transform: scale(1.2);
  opacity: 1;
}

/* .date {
  color: colorGray;
  나중에 전체 색 변경 후 적용 예정
} */

.today {
  color: colorPurple;
  font-weight: weight-bold;
}

.date,
.today {
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: 0.3em 0.5em;
  display: flex;
}

.date:hover,
.today:hover {
  background-color: transparent;
  transform: none;
  color: colorPurple;
}

.taskItem,
.taskItem:hover {
  background-color: transparent;
  transform: unset;
  padding: 0.5em 0;
}

.imageModal,
.imageModal:hover {
  padding: 0;
  background-color: transparent;
}

.imageModal:hover {
  opacity: 0.8;
}

/* 데일리 */
.dailyNavbar__arrow,
.dailyNavbar__date {
  background-color: transparent;
  padding: 0.3em 0.5em;
}

.dailyNavbar__arrow:hover {
  transform: scale(1.2);
  background-color: colorLightGray;
  border-radius: 50%;
}

.dailyNavbar__date:hover {
  background-color: transparent;
}

.dailyNavbar__arrow:hover,
.dailyNavbar__date:hover {
  padding: 0.3em 0.5em;
}

/* 계정탈퇴 */
.withdrawal {
  background-color: transparent;
  color: red;
  padding: 0;
}

.withdrawal:hover {
  background-color: transparent;
  transform: unset;
}

.withdrawal_button,
.withdrawal_cancel_button {
  padding: 0.9em 1.9em;
  margin-left: 20px;
  margin-right: 20px;
  color: colorWhite;
  font-weight: weight-semibold;
  font-size: 15px;
}

.withdrawal_cancel_button {
  background-color: colorLightGray;
}

.withdrawal_cancel_button:hover {
  background-color: colorGray;
}
