@value colors: './common/color.css';
@value size: './common/size.css';
@value colorGray from colors;
@value font-large, weight-semibold from size;

.table {
  width: 100%;
  height: 80vh;
  position: relative;
  top: -30px;
  border-spacing: 1px;
  table-layout: fixed;
  margin-left: 1.5em;
}

.month {
  font-size: font-large;
  font-weight: weight-semibold;
  margin-right: 0.2em;
}

.year {
  font-weight: 500;
}

.monthyear {
  position: relative;
  display: block;
  text-align: right;
  left: -60px;
  margin-bottom: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.dayofweek {
  font-size: 1.3em;
  color: colorGray;
  line-height: 5em;
  text-align: justify;
}

.date {
  position: relative;
}
