@value colors: './common/color.css';
@value colorBlueBlack from colors;

.container {
  position: relative;
  height: 100%;
  padding: 1em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em auto 3em;
}

.title {
  display: flex;
  align-items: flex-end;
  font-size: 2.5em;
}

.date {
  line-height: 0.9em;
  margin-right: 0.1em;
  color: colorBlueBlack;
  margin-left: 0.3em;
}

.month,
.day {
  font-size: 0.5em;
  display: block;
  line-height: 1em;
}

.month {
  font-size: 0.4em;
  color: Gray;
}

.quick {
  position: absolute;
  bottom: 1em;
  right: 1.2em;
}
