/* 아래와 같이 프리셋을 불러와 사용할 수 있습니다 */
@value space-narrow as narrow, space-narrower as narrower, font-large as large from './common/size.css';

.inputBox {
  text-align: left;
  padding: narrow;
}

.name {
  margin-right: narrower;
  font-size: large;
}

.list {
  display: inline-block;
}

.tagItem {
  display: inline-block;
}

.tagItem + .tagItem {
  margin-left: 0.5em;
}
