@value colors: './common/color.css';
@value size: './common/size.css';
@value effect: './common/effect.css';
@value colorWhite, colorGray, colorLightGray, colorLightBlack, colorBlack from colors;
@value space-regular as regular, space-narrower as narrower, button-radius as radius from size;
@value animation-duration-regular as duration-regular from effect;

.input {
  position: relative;
  left: -5px;
  padding: 0.4em 1em;
  border-radius: radius;
  background-color: transparent;
  font-size: 1em;
  color: colorWhite;
}

.input:focus {
  background-color: colorLightBlack;
  transition: all duration-regular ease-in;
  color: colorWhite;
}

.QuickAddForm {
  width: 100%;
  line-height: 1.8;
  font-size: 1.2em;
  padding: 0;
  background-color: transparent;
}

.QuickAddForm:focus {
  background-color: transparent;
  transition: all duration-regular ease-in;
}

.tutorial {
  display: block;
  width: 100%;
  font-size: 1.5em;
  background-color: transparent;
  border-bottom: 1px solid colorBlack;
  border-radius: 0;
  margin-top: 0.3em;
  margin-bottom: 0.8em;
}

.tagInput {
  border-radius: 3em;
  padding: 0.3em 0.8em;
}
