/* 아래와 같이 프리셋을 불러와 사용할 수 있습니다 */
@value space-narrow as narrow, space-narrower as narrower, weight-semibold as semibold from './common/size.css';
@value colorWhite from './common/color.css';

.inputBox {
  top: 130px;
  text-align: left;
  padding: 0;
  color: red;
}

/* 태그, 년, 월, 일 등 input 글씨들 */
.name {
  font-size: 14px;
  color: red;
  font-weight: semibold;
}

.list {
  display: inline-block;
}

.tagItem {
  display: inline-block;
}

.tagItem + .tagItem {
  margin-left: 0.5em;
}

/* afterText 클레스네임은 어딨죠,,, */
.text{
  margin:0px !important;
}