@value colors: './common/color.css';
@value size: './common/size.css';
@value effect: './common/effect.css';
@value colorWhite, colorGray, colorLightGray, colorDarkGray, colorLightBlack, colorBlack, colorPurple from colors;
@value font-small, font-micro, font-large, space-regular as regular, space-narrower as narrower, button-radius as radius, weight-semibold as semibold, weight-bold from size;
@value animation-duration-regular as duration-regular from effect;

.input {
  border-radius: radius;
  background-color: transparent;
  font-size: 1em;
  color: colorWhite;
}

.input:focus {
  background-color: colorLightBlack;
  transition: all duration-regular ease-in;
  color: colorWhite;
}

.QuickAddForm,
.QuickAddForm_tagModal {
  width: 100%;
  line-height: 1.8;
  font-size: 1.2em;
  padding: 0;
  background-color: transparent;
}

.QuickAddForm:focus,
.QuickAddForm_tagModal:focus {
  background-color: transparent;
  transition: all duration-regular ease-in;
}

.QuickAddForm_tagModal {
  padding-left: 1em;
}

.QuickAddForm_tagModal::placeholder {
  color: #ddd;
}

/* 회원가입 */
.tutorial,
.withdrawal {
  display: block;
  width: 100%;
  background-color: transparent;
  border-bottom: 2px solid colorGray;
  border-radius: 0;
  margin-top: 0.6em;
  margin-bottom: 2em;
  color: colorDarkGray;
  padding: 0.4em 0.3em;
}

.tutorial:focus,
.withdrawal {
  background-color: transparent;
  border-bottom: 2px solid colorPurple;
  color: colorDarkGray;
}

.withdrawal {
  display: inline-block;
  width: 5em;
  margin: 0;
  margin-left: 0.3em;
  padding: 0;
}
/* 21/05/09 DateInput 모달 각 요소들 수정 by 현빈*/

/* 태그들 */
.tagInput {
  border-radius: 3em;
  background-color: colorLightGray;
  padding: 0.3em 0.8em;
  margin-left: 5px;
}

.year {
  padding: 0px;
  left: 0px;
  width: 50px;
  text-align: center;
  font-size: 15px;
}

.month {
  padding: 0px;
  left: 0px;
  width: 30px;
  text-align: center;
  font-size: 15px;
}

.date {
  padding: 0px;
  left: 0px;
  width: 30px;
  text-align: center;
  font-size: 15px;
}

.hour {
  padding: 0 5px;
  left: 0px;
  width: 30px;
  margin-left: 5px;
  text-align: center;
  font-size: 15px;
}

.min {
  padding: 0px;
  left: 0px;
  width: 30px;
  text-align: center;
  font-size: 15px;
}

.division {
  padding: 0px;
  left: 0px;
  width: 30px;
  text-align: center;
  font-size: 15px;
}

/*! 프로필 수정  */
/* 이름 수정 input창 */
.profileModal__name {
  border: 1px solid rgba(128, 128, 128, 0.171);
  width: 150px;
  border-radius: 5px;
  text-align: center;
  font-size: font-large;
  color: colorPurple;
  font-weight: bold;
}

.profileModal__name:focus {
  background-color: colorWhite;
  color: rgb(255, 196, 0);
  font-weight: semibold;
  box-shadow: 1px 2px rgba(128, 128, 128, 0.657);
}

/* motto 수정 input창 */
.profileModify__motto {
  border: 1px solid rgba(128, 128, 128, 0.171);
  padding: 0 5px;
  width: 150px;
  border-radius: 5px;
  color: colorPurple;
  font-weight: semibold;
  font-size: font-micro;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profileModify__motto:focus {
  background-color: colorWhite;
  color: colorPurple;
  font-weight: semibold;
  box-shadow: 1px 2px rgba(128, 128, 128, 0.657);
}
