@value colorPurple from './common/color.css';

.selector {
  display: inline-block;
}

.container {
  position: relative;
  display: flex;
}

.selected {
  z-index: 1;
}

.hidden {
  background-color: colorPurple;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  margin: 0;
  transform: translateX(0);
  opacity: 0;
  visibility: hidden;
  transition: 500ms ease;
}

.hidden:hover {
  background-color: colorPurple;
}

.selector:hover .hidden {
  transform: translateX(100%);
  opacity: 1;
  visibility: visible;
}
