@value colors: './common/color.css';
@value size: './common/size.css';
@value box-shadow, modal-radius from size;
@value colorDarkGray, colorLightGray from colors;

.background {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  height: 100vh;
  z-index: 5;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  box-shadow: box-shadow;
  border-radius: modal-radius;
  z-index: 8;
}

.modal.profileModal {
  top: 4em;
  left: 4.2em;
  background: #fff;
}

.modal.profileModal:before {
  content: '';
  position: absolute;
  top: 1.3em;
  left: -1.6em;
  width: 0;
  height: 0;
  border: 0.8em solid;
  border-color: transparent #fff transparent transparent;
}

.modal.taskModal {
  bottom: 20%;
  left: 50%;
  width: 450px;
  height: 280px;
  padding: 1em;
  transform: translateX(-50%);
  background-color: colorDarkGray;
}

.modal.tagModal {
  bottom: 20%;
  left: 50%;
  width: 450px;
  padding: 1em;
  transform: translateX(-50%);
  background-color: colorDarkGray;
}

.modal.imageModal {
  background-color: #fff;
}

.modal.imageModal_small {
  background-color: #fff;
  left: -0.6em;
  top: 1.5em;
}

.modal.withdrawalModal {
  bottom: 20%;
  left: 50%;
  width: 30em;
  transform: translateX(-50%);
  background-color: white;
}

.modal.quickModal {
  bottom: 20%;
  left: 50%;
  width: 30em;
  transform: translateX(-50%);
  background-color: transparent;
  border-radius: 2em;
}

.modal.alertModal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1em;
  z-index: 22;
}

.background.alertModal {
  z-index: 20;
  background-color: #bebebe33;
  backdrop-filter: blur(0.1em);
}

.modal.calendarInputModal,
.modal.calendarInputModal__start,
.modal.calendarInputModal__end {
  left: 50%;
  transform: translate(-50%, 0);
  background-color: white;
  padding: 0.6em;
  border-radius: 0.6em;
  z-index: 12;
}

.modal.calendarInputModal__start {
  top: 100%;
}

.modal.calendarInputModal__end {
  bottom: 100%;
}

.modal.autoCompleteBox {
  left: -0.5em;
  right: -0.5em;
  top: 100%;
  margin-top: 0.3em;
  background-color: colorLightGray;
  border-radius: 0.3em;
  overflow: hidden;
}
