@value colors: './common/color.css';
@value size: './common/size.css';
@value box-shadow, modal-radius from size;
@value colorDarkGray from colors;

.background {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  height: 100vh;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  box-shadow: box-shadow;
  border-radius: modal-radius;
  z-index: 3;
}

.profileModal {
  top: 4em;
  left: 4.2em;
  background: #fff;
}

.profileModal:before {
  content: '';
  position: absolute;
  top: 1.3em;
  left: -1.6em;
  width: 0;
  height: 0;
  border: 0.8em solid;
  border-color: transparent #fff transparent transparent;
}

.taskModal {
  bottom: 20%;
  left: 50%;
  width: 450px;
  height: 280px;
  padding: 1em;
  transform: translateX(-50%);
  background-color: colorDarkGray;
}

.tagModal {
  bottom: 20%;
  left: 50%;
  width: 450px;
  padding: 1em;
  transform: translateX(-50%);
  background-color: colorDarkGray;
}

.imageModal {
  background-color: #fff;
}

.imageModal_small {
  background-color: #fff;
  left: -0.6em;
  top: 1.5em;
}

.withdrawalModal {
  bottom: 20%;
  left: 50%;
  width: 30em;
  transform: translateX(-50%);
  background-color: white;
}
