@value colors: './common/color.css';
@value size: './common/size.css';
@value colorDarkGray, colorBlueBlack from colors;
@value font-regular, space-wider, space-wide, space-regular from size;

.navbar {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  background-color: colorBlueBlack;
  font-size: font-regular;
}

.top {
  /* Created by 백솔비 2021.4.26 */
  /* 프로필 버튼만 조금 어긋나서 조정 */
  text-align: center;
  margin-top: space-wider;
}

.menu {
  margin-top: space-wider;
}

.menuItem {
  margin-top: space-regular;
}

.setting {
  margin-bottom: space-wide;
}
