@value colorWhite from './common/color.css';
@value space-narrow as narrow, space-narrower as narrower, font-regular as regular, weight-semibold as semibold from './common/size.css';

.selector {
  display: flex;
  align-items: center;
  padding: narrower;
  display: inline-flex;
}

.name {
  margin-right: narrow;
  font-size: 1em;
  font-weight: semibold;
  color: colorWhite;
}

.item {
  display: inline-block;
}

.item + .item {
  margin-left: 0.5em;
}

.close {
  color: yellow;
  transform: rotate(45deg);
  width: 23px;
  height: 23px;
}

.close.lightOff {
  color: black;
}

.close.lightOff:hover {
  color: yellow;
}

.select {
  display: none;
}
