@value colors: './common/color.css';
@value colorDarkGray from colors;

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: colorDarkGray;
  border-radius: 2em;
  padding: 0.3em;
  overflow: hidden;
}

.tagModal {
  background-color: gray;
}
