@value colorShadow, colorLightWhite, colorPurple from './common/color.css';

/* Created by 오영롱(youngrongoh) on 2021/04/23 */
.delete {
  display: inline-block;
  vertical-align: sub;
  font-size: 1.3em;
  line-height: 0.8;
  width: 0;
  opacity: 0;
  transition: 300ms ease;
}

/* 예시 스타일링 */
.main {
  position: relative;
}

.main:after {
  content: 'M';
  position: absolute;
  top: -0.4em;
  left: -0.4em;
  width: 1.7em;
  height: 1.7em;
  background-color: colorPurple;
  color: white;
  font-weight: bold;
  font-size: 0.6em;
  text-align: center;
  line-height: 1.7em;
  border-radius: 50%;
  border: 1px solid colorLightWhite;
  box-shadow: 0.03em 0.03em 0.3em 0.1em rgba(56, 56, 56, 0.5);
  animation: fade-in 500ms;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
