.container {
  position: relative;
  padding: 1.5em;
}

.header {
  margin-bottom: 2em;
}

.title {
  font-size: 2em;
  color: #fff;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2em;
  overflow-y: auto;
  overflow-x: hidden;
  height: 8em;
}

.tags::-webkit-scrollbar {
  width: 4px;
}

.tags::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}

.tags > * {
  margin-bottom: 0.5em;
  margin-left: 0.4em;
}

.buttonWrapper {
  position: absolute;
  top: 1em;
  right: 1em;
  color: white;
}
