@value weight-semibold as semibold, font-regular from './common/size.css';
@value colors: './common/color.css';
@value size: './common/size.css';
@value effect: './common/effect.css';
@value colorWhite, colorGray, colorLightGray, colorLightBlack, colorBlack from colors;
@value space-regular as regular, space-narrower as narrower, button-radius as radius from size;
@value animation-duration-regular as duration-regular from effect;

/* 전체 컨테이너 */
.form {
  white-space: nowrap;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  font-size: 14px;
  width: 300px;
  margin: 6px 0px 0px 6px;
}

/* "오늘의 할일을 적어주세요" Input 부분 스타일 추가21/05/09 by 현빈 */
.contentInput {
  width: 300px;
  position: relative;
  left: -5px;
  padding: 0.6em 1em;
  border-radius: radius;
  background-color: transparent;
  font-size: 1.1em;
  color: colorWhite;
  /* font-weight: semibold; */
}

.contentInput:focus {
  background-color: colorLightBlack;
  transition: all duration-regular ease-in;
  color: colorWhite;
}

.contentInput:focus::placeholder {
  color: rgb(165, 165, 165);
  transition: all duration-regular ease-in;
}
