@value weight-semibold as semibold, font-regular from './common/size.css';

.form {
  white-space: nowrap;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  font-size: font-regular;
  /* font-weight: semibold; */
}
