.container {
  padding: 1.2em;
  text-align: center;
}

.header {
  text-align: left;
  margin-bottom: 1em;
}

.title {
  margin-left: 0.2em;
}

.line {
  border-width: 2px;
  opacity: 0.05;
}

.close {
  position: absolute;
  top: 1em;
  right: 1em;
}

.body {
  padding: 0.5em;
}

.announcement {
  font-size: 1em;
  line-height: 1.3em;
  overflow-wrap: break-word;
  word-break: keep-all;
  color: gray;
  margin-bottom: 2em;
}

.agreement {
  font-size: 1.2em;
  margin-bottom: 2em;
}

.warning {
  color: red;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.buttons {
  font-size: 0.8em;
}
