* {
  box-sizing: border-box;
}

body {
  padding: 0;
}

ul,
ol,
li {
  padding: 0;
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

input {
  outline: none;
  border: none;
}
