* {
  box-sizing: border-box;
}

body {
  padding: 0;
}

ul,
ol,
li {
  padding: 0;
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
}
